
#DB properties:
db.driver=com.mysql.jdbc.Driver
db.url=jdbc:mysql://127.0.0.1:3306/scheduler?useUnicode=true&characterEncoding=UTF-8
db.username=root
db.password=

#Hibernate Configuration:
hibernate.dialect=org.hibernate.dialect.MySQLDialect
#turn off the hib,use the log4jdbc instead.
hibernate.show_sql=true
entitymanager.packages.to.scan=my.diploma.project.entity
hibernate.hbm2ddl.auto=create


